/* for text font */
.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;

}

/* body {
    background-color: gold;
} */

* {

    margin: 0 auto;
}

.for-margin {
    max-width: 1360px;
    margin: 0 auto;

}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 34px;
    margin-bottom: 34px;
}

.nav-lists {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.nav-lists li {
    list-style: none;

}

.nav-lists a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500px;
}

.btn-1 {
    color: white;
    font-size: 16px;
    font-weight: 600;
    background-color: #30B868;
    padding: 12px 16px;
    border-style: none;
    border-radius: 4px;
}

/* now banner */

.banner-container {
    background-image: url("assets/hero-bg.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;


}

.banner-container h1 {
    font-size: 72px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    margin-top: 16px;

}

.banner-container p {
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 400px;
    line-height: 35px;
    margin-bottom: 32px;
    padding-left: 400px;
    padding-right: 400px;
}

.green-color {
    color: rgba(48, 184, 104, 1);
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 16px;
}

.banner-content {

    text-align: center;
    padding-top: 155px;
}

.white-small-btn img {
    height: 18px;
    width: 18px;

}

.white-small-btn {

    font-size: 16px;
    font-weight: 500;
    border-radius: 1000px;
    background: rgba(255, 255, 255, 1);
    padding: 8px 12px;
    color: #30B868;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

}

.btn-2 {
    background: #30B868;
    color: rgba(255, 255, 255, 1);
    border: none;
}

.btn-3 {
    background: none;
    color: rgba(255, 255, 255, 1);
    border: 1px solid #ffffff;

}

.btn2-btn3-common {
    font-size: 16px;
    font-weight: 600;
    padding: 16px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.banner-double-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-left: 520px;
    padding-right: 520px;
}

/* now note section */

.notes-section h2 {
    color: #001931;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 16px;

}

.notes-section p {
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    text-align: center;

}

.for-clr {
    background-color: #62738215;
}

.card1 {
    background-color: #FFFFFF;
    padding: 70px 35px 22px 35px;
    border: 1px solid #62738205;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.card-img {
    background-color: rgba(249, 85, 85, 1);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.card-img img {
    height: 32px;
    width: 32px;

}

.card1 h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    color: #001931;
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;


}

.card1 p {
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    line-height: 20px;
    text-align: center;


}

.card-container {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 24px;
    margin-top: 44px;


}

/* now brain section */
.brain-section {
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    text-align: left;
}

.brain-section h5 {
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
}

.brain-section h2 {
    color: #001931;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.knowledge-p {
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 40px;
    padding-right: 240px;

}

.points p {
    color: rgba(0, 25, 49, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}