/* for text font */
.font-open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;

}

/* body {
    background-color: gold;
} */

* {
    margin: 0 auto;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 34px;
    margin-bottom: 34px;
}

.nav-lists {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.nav-lists li {
    list-style: none;

}

.nav-lists a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500px;
}

.btn-1 {
    color: white;
    font-size: 16px;
    font-weight: 600;
    background-color: #30B868;
    padding: 12px 16px;
    border-style: none;
    border-radius: 4px;
}

/* now banner */

.banner-container {
    background-image: url("assets/hero-bg.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;


}

.banner-container h1 {
    font-size: 72px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    margin-top: 16px;

}

.banner-container p {
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 400px;
    line-height: 35px;
    margin-bottom: 32px;
    padding-left: 400px;
    padding-right: 400px;
}

.green-color {
    color: rgba(48, 184, 104, 1);
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 16px;
}

.banner-content {

    text-align: center;
    padding-top: 155px;
}

.white-small-btn img {
    height: 18px;
    width: 18px;

}

.white-small-btn {

    font-size: 16px;
    font-weight: 500;
    border-radius: 1000px;
    background: rgba(255, 255, 255, 1);
    padding: 8px 12px;
    color: #30B868;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

}

.btn-2 {

    font-size: 16px;
    font-weight: 600;
    background: #30B868;
    padding: 16px;
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.btn-3 {

    font-size: 16px;
    font-weight: 600;
    background: none;
    padding: 16px;
    color: rgba(255, 255, 255, 1);
    border: 1px solid #ffffff;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.banner-double-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-left: 520px;
    padding-right: 520px;
}